﻿@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">This would be a page to show off products for campaign #@ViewBag.CampaignId ...</h1>
        <p class="lead">But we're not a company yet!</p>
        <ul class="list-unstyled">
            <li>You can manage your channel subscriptions in the button above.</li>
        </ul>
    </div>
</div>