﻿@model Isep.Insis.ViewModels.SubscriptionViewModel
<li class="list-group-item">
    <label>
        <input type="checkbox"
               name="DispatchChannel"
               id="channels_@Model.Channel.ToString()_checked"
               value="@Model.Channel.ToString()"
               checked="@Model.Checked" />
        <input type="hidden" name="channels_@Model.Channel.ToString()" value="@Model.Channel.ToString()" />
        <strong>@Model.Channel.ToString()</strong>
    </label>
</li>