﻿@{ 
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Isep.Insis.ViewModels.ListSubscriptionsViewModel
@using System

<div class="grants">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Subscription Management
            </h1>
            <div>Below is the list of channels supported by us.</div>
            <div>You can check and/or uncheck any channel to respectively receive or stop receiving future campaigns (Please not that it may take as much as 3 days for changes to take effect).</div>
        </div>
    </div>
    @if (Model == null || !Model.Channels.Any())
    {
        @:No Channels to show.
    }
    else
    {
        <form asp-action="Manage">
            <ul class="list-group">
                @for (var i = 0; i < Model.Channels.Count; i++)
                {
                    <li class="list-group-item">
                        <label>
                            <input type="checkbox" asp-for="Channels[i].Checked" checked="@Model.Channels[i].Checked" />
                            <input type="hidden" asp-for="Channels[i].Channel" />
                            <strong>@Model.Channels[i].Channel.ToString()</strong>
                        </label>
                    </li>
                }
            </ul>
            <input type="hidden" asp-for="UserId" />
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    }

</div>